<form>
	<div class="input-group">
		<input type="text" class="form-control" id="filter" name="filter" ng-model="settings.pokedexFilter" />
		<div class="input-group-addon minimal">
				<label class="radio-inline"><input type="radio" name="limit" id="limit18" ng-value="18" ng-model="nested.limit"> 18</label>
				<label class="radio-inline"><input type="radio" name="limit" id="limit60" ng-value="60" ng-model="nested.limit"> 60</label>
				<label class="radio-inline"><input type="radio" name="limit" id="limitAll" ng-value="dex.length" ng-model="nested.limit"> All</label>
		</div>
	</div>
</form>

<br>

<section>
	<div class="row">
		<p class="col-sm-6 col-md-4" ng-repeat="mon in dex | dexGen | filterAll: settings.pokedexFilter | orderBy: settings.pokedexOrderBy | limitTo: nested.limit">
				<i pokemon-pill="mon"></i>
		</p>
	</div>
</section>
