/* TODO style based on theme */

[pokemon-pill] {
	border: 2px solid lightgrey;
	border-bottom-right-radius: 2em;
	border-top-left-radius: 2em;
	padding: 0.5em;
	position: relative;

	.label {
		border-top-left-radius: 1em;
	}

	.type-label {
		font-size: 0.6em;
		position: absolute;
		right: 1.5em;
		top: 0.25em;

		&+.type-label {
			top: 2.25em;
		}
	}

	&.colorful { // lesshint qualifyingElement: false
		a {
			color: white;
		}

		.text-muted {
			color: #cccccc;
		}

		.for(@typelist); .-each(@name1) { // lesshint-disable-line

			// do the style for when there is only 1 type
			&.@{name1} {
				.type-badge-2(@name1, @name1);
			}

			// do the style for when there are 2 types
			.for(@typelist); .-each(@name2) { // lesshint-disable-line
				&.@{name1}-@{name2} {
					.type-badge-2(@name1, @name2);
				}
			}
		}
	}
}
