<!DOCTYPE html>
<html>
	<head ng-controller="po_ke_type.site.head.controller">
		<meta charset="UTF-8">
		<meta name="viewport" content="width=device-width, initial-scale=1.0">
		<title>Pokémon Type Calculator</title>
		<link rel="shortcut icon" type="image/png" href="images/pokeball.png"/>

		<link rel="stylesheet" type="text/css" ng-href="vendor/bootstrap/{{settings.theme}}/bootstrap.min.css" ng-if="settings.theme">
		<link rel="stylesheet" type="text/css" ng-href="themes/{{settings.theme}}/main.css" ng-if="settings.theme">
		<link rel="stylesheet" type="text/css" href="vendor/bootstrap/bootstrap-tour.min.css">
		<link rel="stylesheet" type="text/css" href="vendor/font-awesome/css/font-awesome.min.css">
		<link rel="stylesheet" type="text/css" href="vendor/angular/hotkeys.min.css">
		<link rel="stylesheet" href="colorful-types.css">
		<link rel="stylesheet" href="pkmn-icons.css">

		<script type="text/javascript" src="vendor/lodash.min.js"></script>
		<script type="text/javascript" src="vendor/jquery.min.js"></script>
		<script type="text/javascript" src="vendor/moment/moment.min.js"></script>
		<script type="text/javascript" src="vendor/moment/locale/fr.js"></script>
		<script type="text/javascript" src="vendor/moment/locale/ja.js"></script>
		<script type="text/javascript" src="vendor/moment/locale/x-pseudo.js"></script>
		<script type="text/javascript" src="vendor/bootstrap/bootstrap.min.js"></script>
		<script type="text/javascript" src="vendor/bootstrap/bootstrap-tour.min.js"></script>
		<script type="text/javascript" src="vendor/angular/angular.min.js"></script>
		<script type="text/javascript" src="vendor/angular/angular-animate.min.js"></script>
		<script type="text/javascript" src="vendor/angular/hotkeys.min.js"></script>
		<script type="text/javascript" src="vendor/angular/angular-local-storage.min.js"></script>
		<script type="text/javascript" src="vendor/angular/angular-route.min.js"></script>
		<script type="text/javascript" src="vendor/angular/angular-sanitize.min.js"></script>
		<script type="text/javascript" src="templates.js"></script>
		<script data-main="mainModule" src="vendor/requirejs/require.js"></script>
	</head>
	<body class="container">
		<div page-header=""></div>
		<main ng-view=""></main>
	</body>
</html>