<h1>Pokémon Type Calculator <i class="fa fa-question-circle" ng-click="doTour()"></i></h1>
<p>
	A type chart is hard to read and it doesn't <em>do</em> anything.
	Once you build a team of pokémon, this will help you figure out who to send into battle.
</p>

<h1>App Data</h1>
<p><span class="badge" ng-bind="themeCount"></span> UI Themes</p>
<p><span class="badge" ng-bind="pokedexCount"></span> Pokémon in Pokédex</p>
<p><span class="badge" ng-bind="typeCount"></span> Pokémon Types</p>
<p><i ng-repeat="m in team" class="pki {{m.iconClass}}" title="{{m.name}}"></i></p>

<h1>Data Sources</h1>
<h2>Copied From</h2>
<p><a target="sources" href="https://spinnytea.bitbucket.io/po_ke_type">https://spinnytea.bitbucket.io/po_ke_type</a></p>
<h2>Original Sources</h2>
<p><a target="sources" href="http://pokemondb.net/type">http://pokemondb.net/type</a></p>
<p><a target="sources" href="http://pokemondb.net/pokedex/all">http://pokemondb.net/pokedex/all</a></p>
<p><a target="sources" href="https://img.pokemondb.net/sprites/x-y/montage-icon-1310b.png">https://img.pokemondb.net/sprites/x-y/montage-icon-1310b.png</a></p>
