<form>
	<div class="form-group">
		<label for="theme">Theme</label>
		<select class="form-control" id="theme" name="theme"
				ng-model="settings.theme"
				ng-options="t for t in settings.themes"></select>
	</div>

	<div class="form-group">
		<label for="colorfulCards">Colorful Cards</label>
		<p radio-group="[{id:false,display:'Simple Colors'},{id:true,display:'Colorful'}]"
				ng-model="settings.colorfulCards"></p>
	</div>

	<div class="form-group">
		<label for="dexGen">Pokédex Generation</label>
		<select class="form-control" id="dexGen" name="dexGen"
				ng-model="settings.dexGen"
				ng-options="t.id as t.display for t in settings.pokedexGenerations"></select>
	</div>

	<div class="form-group">
		<label for="pokedexOrderBy">Pokédex Order</label>
		<select class="form-control" id="pokedexOrderBy" name="pokedexOrderBy"
				ng-model="settings.pokedexOrderBy"
				ng-options="t.id as t.display for t in settings.pokedexSortOrders"></select>
	</div>

	<div class="form-group">
		<label for="pokedexFilterType">Pokédex Order</label>
		<p radio-group="settings.availableDexFilters" ng-model="settings.pokedexFilterType"></p>
	</div>

	<div class="form-group">
		<label for="preferredTypeChart">Preferred Type Chart</label>
		<select class="form-control" id="preferredTypeChart" name="preferredTypeChart"
				ng-model="settings.preferredTypeChart"
				ng-options="t.id as t.display for t in settings.availableTypeCharts"></select>
	</div>

	<div class="form-group">
		<label for="showTourStart">Show Tours</label>
		<p radio-group="[{id:true,display:'Show'},{id:false,display:'Hide'}]"
				ng-model="settings.showTourStart"></p>
	</div>

	<div class="form-group">
		<label for="teamSize">Team Size</label>
		<div>
			<span class="form-control-static" id="teamSize" name="teamSize" ng-bind="team.length"></span>
			<!-- REVIEW this is a bad placement for this button -->
			<!-- - should it go below next to reset settings? -->
			<!-- - should we redesign this "settings" form-group? (it's not input, it only displays a number) -->
			<button type="button" class="btn btn-warning" are-you-sure="clearTeam()"><i class="fa fa-heart-o"></i> Clear Team</button>
		</div>
	</div>
</form>

<p>
	<button class="btn btn-default" title="Save settings to your device." btn-state-message="save()"><i class="fa fa-fw fa-download"></i></button>
	<button class="btn btn-default" title="Load settings from your device." btn-state-message="load()"><i class="fa fa-fw fa-upload"></i></button>
	<button class="btn btn-warning" title="Clear settings." are-you-sure="delete()"><i class="fa fa-fw fa-undo"></i></button>
	|
	<button type="button" class="btn btn-danger" are-you-sure="clearLocalStorage()"><i class="fa fa-trash"></i> Clear All Site Data</button>
</p>
